/* Header */
.container-fluid{
    padding: 0;
}
.navi{
    margin: 0 52px;
    padding: 0 48px;
    height: 56px;
}
header{
    background: #212529;
}

.navi .navbar-brand{
    color: white;
}
.navi .active a{
    color: white;
}   

.nav-item .nav-link{
    color: #646669;
}

/* Body */
.body{
    margin: 0 52px;
    padding: 0 48px;
}



/* Banner */
.baner-body{
    background-color: #F8F9FA;
    height: 393px;
    padding: 96px;
    margin-bottom: 30px;
}
.banner__title{
    text-align: center;
    padding-top: 3rem;
    
}
.banner__title .baner-title{
    font-size: 3rem;
    font-weight: 700;
}

.banner__title .baner-text{
    font-size: 24px;
}
.banner__title .card{

}




/* Items */
.card{
    padding-bottom:48px;
    border: none;
}
.card-body{
    padding: 0 52px 48px 52px;
    background: #F8F9FA;
}
.card-title{
    font-size: 1.5rem;
    font-weight: 700;
    height: 100%;
}
.card-text{
    font-size: 16px;
}


.font-icon{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    background-color: #1871FD;
    margin-top: -24px;
    margin-bottom: 24px;
    border-radius: 5px;
}

.font-icon i{
    color: white;
    font-size: 2rem;
    text-align: center;
}

/* footer */
.footer{
    background-color: #212529;
    text-align: center;
    height: 120px;
}

.footer-content{
    color: white;
}
